.container{
    margin: 1px; padding: 15px; border: 0.3px solid lightgray; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #dfdfdf;
  }

.titulo {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
}

.buscar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px auto;
  max-width: 700px;
}

.grid {
  display: grid;
  gap: 20px;
  padding: 20px 40px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;
  
  /* transición para la tarjeta */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05); /* agranda un poquito la tarjeta */
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2); /* sombra más marcada */
  background-color: rgba(34, 63, 36,0.2);
}

.portada {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 8px;

  /* transición para la imagen */
  transition: transform 0.3s ease-in-out;
}

.card:hover .portada {
  transform: scale(1.0); /* la imagen se agranda suavemente */
  //background-color: #15f027;
}

.info h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.info p {
  color: #555;
  font-size: 14px;
}

.precios {
  margin: 10px 0;
}

.precio {
  color: #27ae60;
  font-weight: bold;
}

.btn-carrito {
  margin-top: 10px;
  width: 100%;
  background-color: #0e5e52;
  color: white;
}

.paginador {
  display: flex;
  justify-content: flex-end; /* Alineado a la derecha */
  align-items: center;
  gap: 14px;
  margin: 5px 0;
  padding-right: 10px;
}

.paginador button {
  background: #0e5e52;
  color: #fff;
  border: none;
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.paginador button:hover:not([disabled]) {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}

.paginador button:active:not([disabled]) {
  transform: translateY(0px);
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.paginador button[disabled] {
  background: #bfc6d5;
  cursor: not-allowed;
  box-shadow: none;
}

.paginador span {
  font-weight: 600;
  color: #344767;
}

.pay-btn {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  border: none;
  max-width: 700px;
  background-color: #0e5e52;
}