<div class="container">
  <!-- <h2 class="titulo">Busqueda rápida</h2> -->

  <div class="buscar">
    <input type="text" class="form-control" placeholder="Busqueda por título o autor" (input)="filter()" [(ngModel)]="search" />
  </div>

  <div class="grid">
    <div class="card" *ngFor="let book of booksFiltered">
      <img [src]="book.cover" class="portada" />

      <div class="info">
        <h3>{{ book.title }}</h3>
        <p>{{ book.author }}</p>
      </div>

      <span class="precio">{{ book.price | number }} Gs.</span>

      <button class="btn btn-carrito btn-sm" type="submit" (click)="addToCart(book)">Agregar al carrito</button>
    </div>
  </div>

  <!-- PAGINATOR -->
  <div class="paginador">
    <button (click)="previousPage()" [disabled]="currentPage === 1">« Anterior</button>

    <span>Página {{ currentPage }} / {{ totalPages }}</span>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente »</button>
  </div>

  <!-- <button (click)="openPopup('https://www.abc.com.py/')">Abrir popup</button> -->

  <!-- <div id="popup" [style.display]="showPopup ? 'flex' : 'none'" class="popup-overlay">
    <div class="popup-content">
      <button class="close-btn" (click)="closePopup()">✖</button>
      <iframe [src]="iframeUrl | safeUrl" width="100%" height="100%" frameborder="0"></iframe>
    </div>
  </div> -->

  <div *ngIf="pagar.length > 0">
    <h2 class="titulo">Carrito</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Título</th>
          <th>Autor</th>
          <th>Categoría</th>
          <th>Precio</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pagar | keyvalue; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.value.title }}</td>
          <td>{{ item.value.author }}</td>
          <td>{{ item.value.category }}</td>
          <td>{{ item.value.price | number }} Gs.</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="removeItem(item.key)">Quitar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Aquí mostramos el total en grande -->
    <div class="total-carrito text-end mb-3">
      <h4>
        <strong>Total a pagar: {{ totalCarrito() | number }} Gs.</strong>
      </h4>
    </div>

    <button [disabled]="pagar.length === 0" class="btn btn-success btn-sm pay-btn" (click)="pay()">
      Pagar&nbsp;con &nbsp;
      <span style="color: #ee2d2d">Adams</span>
      Pay
    </button>

    <hr />
  </div>
</div>
