.container{
    margin: 1px; padding: 15px; border: 0.3px solid lightgray; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.titulo {
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
        color: #2c3e50;
}

.buscar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  max-width: 700px;
}

.grid {
  display: grid;
  gap: 20px;
  padding: 20px 40px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;
  
  /* transición para la tarjeta */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05); /* agranda un poquito la tarjeta */
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2); /* sombra más marcada */
}

.portada {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 8px;

  /* transición para la imagen */
  transition: transform 0.3s ease-in-out;
}

.card:hover .portada {
  transform: scale(1.1); /* la imagen se agranda suavemente */
}

.info h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.info p {
  color: #555;
  font-size: 14px;
}

.precios {
  margin: 10px 0;
}

.precio {
  color: #27ae60;
  font-weight: bold;
}

.btn-carrito {
  margin-top: 10px;
  width: 100%;
  background-color: #299542;
  color: white;
}
