.container{
    margin: 1px; padding: 15px; border: 0.3px solid lightgray; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #dfdfdf;
  }

.titulo {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
}